@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

/* Main style */
body, html {
    background: url('./assets/motif.svg') no-repeat fixed;
    background-position: calc(100% + 300px) calc(100% + 300px);
    background-color: #F6E9EA;
    font-family: 'Lustria', sans-serif;
    color: #483932;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

header {
    display: flex;
}

h1, h2, h3, .nav-li {
    color: #B88603;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
}

h3 {
    margin: 2rem;
}

.logo-mini {
    height: 5rem;
    margin: 1rem ;
}

nav {
    padding: 2rem;
    margin-right: 5rem;
}

.ul-nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.nav-li {
    margin: 0 0 0 10rem;
}

.nav-li:hover, .email:hover {
    text-decoration: underline;
}

.list-container {
    padding: 3rem;
}

.main-index {
    display: flex;
    justify-content: center;
    margin: 7rem 2rem 7rem 2rem;
}

.main-xp {
    display: flex;
    align-items: center;
}

.section-left {
    text-align: left;
    width: 40%;
}

.section-right {
    height: 35rem;
    overflow: hidden; 
}

.section-left-xp {
    text-align: left;
    width: 60%
}

.section-right-xp {
    width: 40%;
}

.section-left-xp, .section-right-xp{
    margin: 4rem;
}

img {
    max-height: 100%; 
    width: auto; 
    display: block; 
}

p {
    width: 60%;
    line-height: 1.8rem;
    margin-left: 2rem;
}

button {
    border: #B88603 solid 1px ;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Lustria', sans-serif;
    margin-top: 5rem;
    margin-left: 2rem;
}

button:hover {
    background-color: #B88603;
    color: #F6E9EA;
}

.fa-arrow-down, .fa-circle, .fa-brands, .fa-solid {
    color: #B88603;
    margin: 0 0.5rem;
}

.fa-circle {
    margin-right: 1rem;
}

.logo-big {
    margin: 2rem;
}

.section-service-left, .section-service-right {
    border:#B88603 2px solid;
    padding: 2rem;
    margin: 2rem;
    width: 50%;
}

.service-li {
    margin: 1rem;
    list-style: disc;
}

.section1 {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 30%;
}

.article-img {
    height: 10rem;
    margin: 2rem;
}

.section2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
}

.service-2nd-title {
    text-align: center
}

.service-h1 {
    margin-left: 4rem;
}

.service-p {
    width: 80%;
    text-align: justify;
    margin: 0 2rem 4rem 2rem;
}

.contact-sections-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-section-right, .contact-section-left {
    width: 50%;
    overflow: hidden;
    margin: 3rem;
}

.contact-p {
    width: 100%;
    margin-left: 0;
    margin: 2rem 0; 
}

.phone-nb, .email {
    margin: 1rem 1rem;
}

.link-icon {
    margin: 2rem 0;
    font-size: 2rem;
}

.fa-brands {
    transition: font-size 0.3s ease;
    margin: 4rem 0.7rem;
}

.fa-brands:hover {
    font-size: 3rem;
}

/* view for ipad screens */
@media screen and (max-width: 1161px) {
    nav {
        margin: 1rem;
        padding: 0;
        }
    
        .ul-nav {
            display: flex;
            justify-content: space-around;
            
        }
        
        .nav-li {
            margin: 2rem ;
        }
        
        .main-index {
            display: flex;
            flex-direction: column-reverse;
            align-items: center; 
            margin: 0;
        }

        .main-xp {
            display: flex;
            flex-direction: column;
            width: 80%;
        }
        
        .section-left {
            text-align: center;
            width: 100%;
        }
        
        .section-right {
            height: 30rem;
            overflow: hidden; 
            margin-bottom: 3rem;
            margin-top: 1rem;
        }

        .section-left-xp, .section-right-xp{
            text-align: center;
            width: 100%;
            margin: 3rem 0;
        }
        
        h1 {
            font-size: 3rem;
        }
        
        p {
            width: 50%;
            margin: 1rem 1rem 1rem 10rem;
            text-align: left;
        }
        
        button {
            margin-bottom: 6rem;
            margin-left: 0;
    
        }

        .logo-big {
            margin: 2rem 10rem;
        }
        

    }

/* view for smartphones screen */
@media screen and (max-width: 768px) {
    
    header {
        display: flex;
        flex-direction: column;
    }

    .logo-mini {
        height: 4rem ;
    }

    nav {
    margin: 1rem;
    padding: 0;
    }

    .ul-nav {
        display: flex;
        justify-content: space-around;
    }
    
    .nav-li {
        margin: 0 0.8rem ;
        font-size: 0.8rem;
    }
    
    .main-index {
        display: flex;
        flex-direction: column-reverse;
        align-items: center; 
        margin: 0;
    }

    .main-xp {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 100%;
    }
    
    .section-left {
        text-align: center;
        width: 100%;
    }
    
    .section-right {
        height: auto;
        overflow: hidden; 
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    
    .section-left-xp, .section-right-xp{
        text-align: center;
        width: 100%;
        margin: 1rem 0;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    p {
        width: 83%;
        margin: 2rem;
        text-align: justify;
    }
    
    button {
        margin: 1rem 0 5rem 0;
    }

    .logo-big {
        margin: 2rem;
    }

    .list-container {
        padding: 1.2rem;
    }
    
    .section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-h1 {
        margin-left: 0rem;
        text-align: center;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
    }

    .article-img {
        width: auto;
        margin: 0rem;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem;
        width: 70%;
    }

    h3 {
        text-align: center;
    }

    .section-service-left, .section-service-right {
        width: 100%;
    }

    .service-2nd-title {
        font-size: 1.3rem;
        margin-bottom: 4rem;
    }

    .contact-sections-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-section-left {
        width: 100%;
    }

    .contact-section-right {
        width: 90%;
        text-align: center;
    }

    .email {
        display: block;
        text-align: left;
    }
}
